#idea本身的文件
.idea/
#mudules中的文件
consumer/.mvn/
consumer/src/test/
consumer/target/
consumer/.gitignore
consumer/consumer.iml
consumer/m*
provider/.mvn/
provider/src/test/
provider/target/
provider/.gitignore
provider/provider.iml
provider/m*
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
